h1,h2,h3,h4,h5,h6{
    font-family: "Bricolage Grotesque";
    color: #1A1A4B;

}
h5,.h5{
    font-size: 24px;
    font-weight: 500;
    color: #1A1A4B;

}

p{
    font-family: "Inter";
    font-weight: 300;
    color: #1A1A4B;
    font-size: 20px;
}

h1,.h1{
    font-size: 48px;
    font-weight: 500;
    color: #1A1A4B;
    font-family: "Bricolage Grotesque";
    margin: 12px 0px;

}